.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: em(1px) solid;
	border-color: $color__border-button;
	// border-radius: em(3px);
	background: $color__background-button;
	color: $color__text-button;
	font-family: $font__body-alt;
	line-height: 1;
	padding: 1em 1.5em 1em;
	cursor: pointer;
	text-transform: uppercase;
	transition: all 150ms ease;

	&:hover {
		border-color: $color__border-button-hover;
		background: $color__background-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
