// --------------------------------------------------------------
// Placeholder
// --------------------------------------------------------------

// Container
%container {
	max-width: em(1170px);
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1.5em;
	padding-right: 1.5em;

	@include media(90em) {
		padding-left: 0;
		padding-right: 0;
	}
}

// Flexbox
%flex {
	display: flex;
	flex-wrap: wrap;
}

// Reset list
%reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

// Center block
%center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
// --------------------------------------------------------------

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "primary/header";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Hero
--------------------------------------------------------------*/
@import "secondary/hero";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Pagination
--------------------------------------------------------------*/
@import "secondary/pagination";

/*--------------------------------------------------------------
## Author Box
--------------------------------------------------------------*/
@import "secondary/author-bio";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "primary/footer";
