// --------------------------------------------------------------
// Placeholder
// --------------------------------------------------------------

// Main font size
%base-font-size {
	font-size: 1em;
}

// H1
%h1 {
	font-size: 2.488em;
}

// H2
%h2 {
	// font-size: 2.074em;
	@include fluid-type(font-size, 1280px, 1920px, 33px, 40px);
}

// H3
%h3 {
	// font-size: 1.728em;
	@include fluid-type(font-size, 1280px, 1920px, 27px, 33px);
}

// H4
%h4 {
	// font-size: 1.44em;
	@include fluid-type(font-size, 1280px, 1920px, 23px, 27px);
}

// H5
%h5 {
	// font-size: 1.2em;
	@include fluid-type(font-size, 1280px, 1920px, 19px, 23px);
}

// Small
%small {
	font-size: 0.833em;
}
// --------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font__body-alt;
	font-weight: 800;
	color: $color__text-heading;
	margin-bottom: .5em;

	> a {
		color: inherit;

		&:hover {
			color: $color__link-hover;
		}
	}
}

h1 {
	margin-top: 0;
	@extend %h1;
}

h2 {
	@extend %h2;
}

h3 {
	@extend %h3;
}

h4 {
	@extend %h4;
}

h5 {
	@extend %h5;
}

small,
.text-small {
	@extend %small;
}

