.author-bio {
	@include fluid-type(margin-bottom, 1024px, 1920px, 60px, 125px);
	text-align: center;

	@include media($tablet) {
		text-align: left;
	}

	&__wrapper {
		@include media($tablet) {
			// Can't use @extend because inside a media query
			// @extend %row;
			@include grid-row;
		}
		width: 100%;
	}

	&__avatar {
		@include media($tablet) {
			@include grid-column(2);
		}
	}

	&__details {
		@include media($tablet) {
			@include grid-column(10);
		}
	}

	.avatar {
		border-radius: 50%;
	}

	&__name {
		@include fluid-type(font-size, 480px, 1920px, 18px, 22px);
		margin-top: 0;
		margin-bottom: em(5px);
		font-weight: 700;
	}

	&__desc {
		@include fluid-type(font-size, 480px, 1920px, 16px, 18px);
	}

	&__more {
		a {
			@include fluid-type(font-size, 480px, 1920px, 12px, 14px);
			text-transform: uppercase;
			font-family: $font__body-alt;
			display: inline-block;
		}
	}
}
