/**
 * Back to top
 */
.back-to-top {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 999;
	width: em(20px);
	height: em(20px);
	text-align: center;
	line-height: em(25px);
	background-color: $color__background-button;
	cursor: pointer;
	border: 0;
	text-decoration: none;
	transition: all .3s ease-in-out;
	opacity: 0;
	font-size: 2em;

	path:nth-child(1) {
		fill: $color__text-button;;
	}

	&.show {
		opacity: 1;

		&:hover {
			opacity: .8;
		}
	}
}
