.featured {
	margin-bottom: em(60px);

	&__container {
		@extend %container;

		@include media($desktop) {
			padding: 0;
		}
	}

	&__wrapper {
		@include media($tablet__wide) {
			@include grid-row;
		}
	}

	&__big {
		margin-bottom: em(40px);

		@include media($tablet__wide) {
			@include grid-column(8);
			margin-bottom: 0;
		}

		.featured__title {
			font-size: 1.44em; // h4
			@include media($tablet__wide) {
				font-size: 2.074em; // H2
			}
		}
	}

	&__small {
		@include media($tablet__wide) {
			@include grid-column(4);
		}

		.featured__title {
			@extend %h4;
			margin-bottom: em(5px);
		}

		.featured__post {
			margin-bottom: em(40px);
		}
	}

	&__post {
		@extend %flex;
		align-items: flex-end;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;
		box-sizing: border-box;
		border-radius: em(3px);
		padding: 2em;
	}

	&__post-link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		// background-color: rgba(0, 0, 0, .2);
	}

	&__post-big {
		height: calc(100vw - 100px);
		@include media($tablet) {
			height: em(450px);
		}
		@include media($tablet__wide) {
			height: em(640px);
		}
	}

	&__post-small {
		height: calc(100vw - 100px);
		@include media($tablet) {
			height: em(300px);
		}
	}

	&__content {
		position: relative;
		z-index: 9;
	}

	&__title {
		color: $color__text-featured-posts;
		margin: 0;
		line-height: 1.3;
	}

	.post__meta {
		margin-bottom: 0;
		a {
			color: $color__text-featured-posts;
		}
	}

}
