.posts-navigation {

	.nav-links {
		@extend %flex;

		a {
			@extend %flex;
			@extend .button;
			justify-content: center;
			align-items: center;
			font-size: em(14px);
			width: em(170px);
		}
	}

	.nav-previous {
		width: 50%;
	}

	.nav-next {
		width: 50%;
		display: flex;
		justify-content: flex-end;
		margin-left: auto;
	}

}

/**
 * Post pagination
 */
.post-pagination {
	@extend %flex;
	@include fluid-type(margin-bottom, 1024px, 1920px, 60px, 125px);

	&__wrapper {
		@include grid-row;
		width: 100%;
	}

	&__prev,
	&__next {
		@extend %flex;
		@include grid-column(6);
	}

	&__next {
		margin-left: auto;
		text-align: right;
		justify-content: flex-end;

		.post-pagination__link {
			order: 2;
			padding-right: 0;
			padding-left: em(20px);
		}

		.post-pagination__detail {
			order: 1;
		}
	}

	&__link {
		display: block;
		width: 18%;
		padding-right: em(20px);
	}

	&__img {
		display: block;
		border-radius: em(3px);
	}

	&__detail {
		span {
			@extend %post__info;
			display: block;
			margin-bottom: em(7px);
		}
	}

	&__title {
		@include fluid-type(font-size, 480px, 1920px, 14px, 18px);
		font-family: $font__body-alt;
		font-weight: 700;
		color: inherit;
		line-height: normal;
	}
}
