.post__related {
	margin-top: em(60px);
	@include media($tablet__wide) {
		@include grid-column(4);
		margin-top: 0;
	}

	&-wrapper {
		@include media($tablet__wide) {
			padding-left: em(60px);
		}
	}

	&-items {
		@media (max-width: $tablet) and (min-width: $mobile) {
			@include grid-row;
		}
	}

	&-item {
		margin-bottom: em(30px);
		@media (max-width: $tablet) and (min-width: $mobile) {
			@include grid-column(6);
		}

		@include media($tablet__wide) {
			margin-bottom: em(60px);
		}
	}

	&-header {
		@extend %widget__title;
	}

	&-img-link {
		@extend %img__link;
		margin-bottom: em(20px);
	}

	&-title-link {
		@extend %h5;
		display: block;
		color: inherit;
		margin-bottom: em(5px);
	}

	.post__date {
		&::after {
			border-top: 0;
		}
	}
}
