$color__background-body: #fff !default;
$color__background-header: #0f0f0f !default;
$color__background-submenu: #fff !default;
$color__background-screen: #f1f1f1 !default;
$color__background-hr: #cecece !default;
$color__background-button: #32a0e5 !default;
$color__background-button-hover: #0f0f0f !default;
$color__background-pre: #cecece !default;
$color__background-ins: #fff9c0 !default;
$color__background-tag-cloud: #0f0f0f !default;
$color__background-footer: #0f0f0f !default;

$color__menu-link: #fff !default;
$color__menu-link-hover: #32a0e5 !default;
$color__menu-link-submenu: #35383a !default;
$color__menu-social: #fff !default;
$color__menu-mobile: #fff !default;

$color__text-title: #fff !default;
$color__text-tagline: #fff !default;

$color__text-screen: #21759b !default;
$color__text-input: #666 !default;
$color__text-input-focus: #111 !default;
$color__text-button: #fff !default;
$color__text-main: #35383a !default;
$color__text-heading: #0f0f0f !default;
$color__text-meta: #0f0f0f !default;
$color__text-meta-alt: #aeadaf !default;
$color__text-tag-cloud: #fff !default;
$color__text-footer: #fff !default;
$color__text-featured-posts: #fff !default;

$color__link: #32a0e5 !default;
$color__link-visited: #2484c1 !default;
$color__link-hover: #2484c1 !default;
$color__link-meta: #0f0f0f !default;

$color__border-button: #0f0f0f !default;
$color__border-button-hover: #32a0e5 !default;
$color__border-button-focus: #32a0e5 !default;
$color__border-input: #cecece !default;
$color__border-abbr: #666 !default;
$color__border-menu: #fff !default;
