$size__site-main: 100%;
$size__site-sidebar: 25%;

// Breakpoint
$mobile__small: 23.438em; // 375px
$mobile: 30em; // 480px
$tablet: 48em; // 768px
$tablet__wide: 64em; // 1024px
$desktop: 80em; // 1280px
$desktop__wide: 90em; // 1440px
$desktop__wider: 120em; // 1920px
