.header__navigation {
	margin-left: auto;
	@include media($tablet) {
		text-align: center;
	}

	@include media($tablet__wide) {
		width: auto;
		margin-left: 0;
	}

	ul {
		@extend %reset-list;
		background-color: $color__background-header;
		position: relative;
		z-index: 999;
		display: none;

		@include media($tablet__wide) {
			background-color: transparent;
			display: block;
		}

		ul {
			text-align: left;
			padding: em(10px) 0;
			transition: 300ms ease-in-out;

			@include media($tablet__wide) {
				background-color: $color__background-submenu;
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				position: absolute;
				top: 100%;
				left: -999em;
				z-index: 99999;
				visibility: hidden;
				opacity: 0;
			}

			ul {
				@include media($tablet) {
					left: 100%;
					top: 0;
				}
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}

				&.menu-item-has-children {
					> a {
						&::after {
							@include media($tablet) {
								content: '';
							}
						}
					}
				}
			}

			a {
				width: 180px;
				padding: em(10px) 0;
				@include media($tablet__wide) {
					color: $color__menu-link-submenu;
				}
			}

		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
			visibility: visible;
			opacity: 1;
			display: block;

			ul {
				left: 100%;
				@media (max-width: 480px) {
					left: auto;
				}
			}
		}
	}

	li {
		position: relative;
		display: block;
		padding-left: em(14px);
		padding-right: em(14px);

		@include media($tablet) {
			display: inline-block;
		}

		&:hover > a,
		&.focus > a {
			color: $color__menu-link-hover;
		}

		&.menu-item-has-children {
			> a {
				display: flex;
				flex-flow: row wrap;
				align-items: center;

				&::after {
					content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='white' d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'></path><path fill='none' d='M0 0h24v24H0V0z'></path></svg>");
					display: inline-block;
					width: 16px;
					height: 16px;
					margin-left: em(3px);
				}
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
		font-weight: 600;
		font-family: $font__body-alt;
		text-transform: uppercase;
		color: $color__menu-link;
		letter-spacing: em(1px);
		padding: 1em 0;
		@include fluid-type(font-size, 1280px, 1920px, 14px, 18px);

		@include media($tablet) {
			padding: 1.36em 0;
		}

		&:hover {
			color: $color__menu-link-hover;
		}
	}

	// .current_page_item > a,
	// .current-menu-item > a,
	// .current_page_ancestor > a,
	// .current-menu-ancestor > a {
	// }
}

// Toggle mobile menu.
.menu-toggle {
	display: block;
	line-height: 0;
	border: 0;
	border-radius: 0;
	outline: none;
	background-color: transparent;
	padding: 0;
	margin: 0;

	@include media($tablet__wide) {
		display: none;
	}

	path:nth-child(2) {
		fill: $color__menu-mobile;
	}

	&:hover {
		border: 0;
		background: none;
	}
}

// Mobile menu
.site {
	@media (max-width: $tablet__wide) {
		&.mobile-nav-open {
			overflow: hidden;
			position: relative;
			.mobile-navigation {
				transform: none;
				width: 50%;
			}
		}
	}

	@media (max-width: $mobile) {
		&.mobile-nav-open {
			.mobile-navigation {
				width: 100%;
			}
		}
	}
}

.mobile-navigation {
	background-color: $color__background-header;
	width: 0;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 99;
	transition: all 200ms ease;
	transform: translate3d(100%,0,0);

	ul {
		@extend %reset-list;
		text-align: left;
		padding: em(12px) 0;

		li {
			display: block;
			padding: 0 em(20px);
			position: relative;

			&:first-child {
				padding-top: em(20px);
			}

			li {
				padding-left: 0;

				&:first-child {
					padding-top: 0;
				}
			}
		}

		a {
			padding: em(12px) 0;
			font-weight: 600;
			font-family: $font__body-alt;
			font-size: em(14px);
			text-transform: uppercase;
			color: $color__menu-link;
			letter-spacing: em(1px);
			display: block;
		}
	}

	.close-toggle {
		background-color: $color__background-close-mobile-menu;
		padding: em(10px) 0;
		width: 100%;
		line-height: normal;
		font-size: em(14px);
	}

	.submenu-expand {
		position: absolute;
		top: em(10px);
		right: em(12px);
		padding: 0;
		border: none;
		border-radius: 0;
		background: transparent;

		path:nth-child(1) {
			fill: $color__menu-mobile;
		}

		&:hover,
		&:active,
		&:focus {
			color: var(--black-color);
		}
	}

	.sub-menu {
		display: none;
		padding-left: em(20px);
	}
}
