.header__search {
	position: absolute;
	right: em(20px);
	line-height: 0;
	padding: 1.11em 0;
	display: none;

	@include media($tablet__wide) {
		right: em(30px);
		display: block;
	}

	&:hover {
		 .header__search-form-wrapper {
			visibility: visible;
			opacity: 1;
		}
	}

	&-link {
		display: block;
	}

	path:nth-child(1) {
		fill: $color__menu-social;
	}

	&-form-wrapper {
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
		position: absolute;
		top: 100%;
		right: -24px;
		z-index: 99999;
		text-align: left;
		background-color: $color__background-submenu;
		padding: em(10px);
		visibility: hidden;
		opacity: 0;
		transition: 300ms ease-in-out;
		min-width: 100vw;

		@include media($tablet) {
			min-width: 300px;
			right: 0;
		}
	}

	&-form {
		input[type="search"] {
			border: 0;
			width: 100%;

			&::placeholder {
				text-transform: uppercase;
				font-size: em(14px);
			}
		}
	}

}

/**
 * Mobile search
 */
.mobile-navigation {

	&__search-form {
		padding: em(40px) em(20px) 0;
	}

	input[type="search"] {
		background-color: $color__background-search-mobile;
		width: 100%;
		border: 0;
		color: $color__text-input-mobile;
	}

}
