.header__social {
	position: absolute;
	right: em(30px);
	line-height: 0;
	display: none;

	@include media($tablet) {
		right: em(65px);
	}

	@include media($tablet__wide) {
		display: block;
	}

	&::after {
		content: "";
		border-right: em(1px) solid #5a595c;
		height: 15px;
		width: 1px;
		display: inline-block;
		position: absolute;
		top: em(5px);
		right: em(-4px);
	}

	ul {
		@extend %reset-list;
	}

	li {
		display: inline-block;
		position: relative;
		margin-right: em(6px);
	}

	a {
		display: block;
	}

	.svg-icon {
		width: em(20px);
	}

	path {
		fill: $color__menu-social;
	}
}
