/*
 * Unset nested content selector styles
 * - Prevents layout styles from cascading too deeply
 * - helps with plugin compatibility
 */
.entry .post__content-article,
.entry .post__excerpt {

	.post__content-article,
	.post__excerpt,
	.entry {
		margin: inherit;
		max-width: inherit;
		padding: inherit;

		@include media(tablet) {
			margin: inherit;
			max-width: inherit;
			padding: inherit;
		}
	}
}

.entry .post__content-article {

	//! Font Sizes
	.has-small-font-size {
		@include fluid-type(font-size, 480px, 1920px, 14px, 17.5px);
	}

	.has-normal-font-size {
		@include fluid-type(font-size, 480px, 1920px, 16px, 22px);
	}

	.has-large-font-size {
		@include fluid-type(font-size, 480px, 1920px, 21.5px, 26px);
	}

	.has-huge-font-size {
		@include fluid-type(font-size, 480px, 1920px, 25.5px, 30px);
	}

	//! Custom background colors
	.has-accent-background-color,
	.has-primary-background-color,
	.has-secondary-background-color,
	.has-light-gray-background-color {

		// Use white text against these backgrounds by default.
		color: $color__background-body;

		> p,
		> h1,
		> h2,
		> h3,
		> h4,
		> h5,
		> h6,
		> a {
			color: $color__background-body;
		}
	}

	.has-white-background-color {
		color: $color__text-main;

		// Use dark gray text against this background by default.
		> p,
		> h1,
		> h2,
		> h3,
		> h4,
		> h5,
		> h6,
		> a {
			color: $color__text-main;
		}
	}

	.has-accent-background-color,
	.wp-block-pullquote.is-style-solid-color.has-accent-background-color {
		background-color: $color__link;
	}

	.has-primary-background-color,
	.wp-block-pullquote.is-style-solid-color.has-primary-background-color {
		background-color: $color__text-main;
	}

	.has-secondary-background-color,
	.wp-block-pullquote.is-style-solid-color.has-secondary-background-color {
		background-color: $color__text-heading;
	}

	.has-light-gray-background-color,
	.wp-block-pullquote.is-style-solid-color.has-light-gray-background-color {
		background-color: $color__text-main;
	}

	.has-white-background-color,
	.wp-block-pullquote.is-style-solid-color.has-white-background-color {
		background-color: $color__background-body;
	}

	//! Custom foreground colors
	.has-accent-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-accent-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-accent-color > p {
		color: $color__link;
	}

	.has-primary-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-primary-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-primary-color > p {
		color: $color__text-main;
	}

	.has-secondary-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-secondary-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-secondary-color > p {
		color: $color__text-heading;
	}

	.has-light-gray-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-light-gray-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-light-gray-color > p {
		color: $color__text-main;
	}

	.has-white-color,
	.wp-block-pullquote.is-style-solid-color blockquote.has-white-color {
		color: #FFF;
	}

	//! Galleries
	.wp-block-gallery {
		margin-top: 1em;
		margin-bottom: 1em;

		figcaption a {
			color: $color__link;
		}

		.blocks-gallery-caption {
			flex-basis: 100%;
		}
	}

	//! Paragraphs
	.has-drop-cap {
		&:not(:focus):first-letter {
			font-size: 90px;
			font-weight: 800;
			margin: .17em .1em 0 0;
		}
		&:not(:focus)::after {
			padding-top: 0;
			display: inline;
		}
	}

	//! Image
	.wp-block-image {

		&.alignwide {
			@include media($tablet) {
				margin-left: calc(25% - 25vw);
				margin-right: calc(25% - 25vw);
				max-width: 100vw;
			}
			@include media($desktop__wider) {
				margin-left: calc(20% - 20vw);
				margin-right: calc(20% - 20vw);
			}
		}

		&.alignfull {
			position: relative;
			left: 50%;
			transform: translate(-50%, 0);
			width: 100vw;
			max-width: 100vw;
		}

	}

}
