.post__comments {

	&-title {
		@extend %h3;
		margin-top: 0;
		margin-bottom: em(30px);
		line-height: normal;
	}

	&-items {
		@extend %reset-list;
		margin-bottom: em(60px);
	}

	.bypostauthor {
		display: block;
	}

	.comment {
		margin-bottom: em(40px);
	}

	.children {
		margin: em(40px) 0;
		list-style: none;

		@include media($tablet) {
			padding-left: em(30px);
		}

	}

	.comment-meta {
		@extend %flex;
		align-items: center;
		margin-bottom: em(20px);
		@include media($tablet) {
			margin-bottom: em(10px);
		}
	}

	.comment-author {
		@extend %flex;
		align-items: center;
		font-size: em(14px);

		.avatar {
			border-radius: 50%;
			margin-right: em(10px);
			display: none;
			@include media($tablet) {
				display: block;
			}
		}

		.fn {
			font-family: $font__body-alt;
			position: relative;
			text-transform: uppercase;
		}

		.says {
			@extend .screen-reader-text;
		}

		a {
			color: inherit;

			&:hover {
				color: $color__link-hover;
			}
		}
	}

	.comment-metadata {
		@include media($mobile__small) {
			margin-left: auto;
		}

		a {
			@extend %post__small-text;
			font-size: em(12px);
			color: $color__text-meta;
		}

		.edit-link {
			position: relative;
			padding-left: em(20px);

			&::before {
				content: "";
				width: em(15px);
				height: em(1px);
				position: absolute;
				top: 50%;
				border-top: em(1px) solid $color__border-input;
				left: 0;
			}
		}
	}

	.comment-content {
		a {
			word-wrap: break-word;
		}
	}

	.reply {
		a {
			@extend %post__small-text;
			font-size: em(12px);
		}
	}

}

.comment-reply-title {
	@extend %h3;
	margin-bottom: 0;
	margin-top: 0;
}

.comment-notes {
	margin-bottom: em(40px);
	color: $color__text-meta;
}

.comment-form {

	label {
		@extend %post__small-text;
		font-family: $font__body-alt;
		font-weight: 700;
		display: block;
		margin-bottom: em(6px);
		letter-spacing: 0;

		&:hover {
			color: inherit;
		}
	}

	input,
	textarea {
		font-size: em(14px);
	}

}

.comment-form-cookies-consent {

	label {
		display: inline;
		margin-left: em(5px);
		letter-spacing: 0;
		text-transform: capitalize;
	}

}
