%footer__text {
	font-family: $font__body-alt;
}

.footer {
	background-color: $color__background-footer;
	color: $color__text-footer;
	text-align: center;
	padding: em(55px) 0 em(50px);
	@include fluid-type(font-size, 480px, 1920px, 14px, 16px);

	&__wrapper {
		@extend %flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		@include media($tablet) {
			flex-direction: row;
		}
	}

	&__copyright {
		@extend %footer__text;
		margin-bottom: em(10px);
		@include media($tablet) {
			position: absolute;
			left: em(40px);
			text-align: left;
			margin-bottom: 0;
		}
	}

	&__designer {
		@extend %footer__text;
		@include media($tablet) {
			position: absolute;
			right: em(40px);
		}

		&-text {
			margin-bottom: 0;
		}
	}
}
