.header {

	&__topbar {
		background-color: $color__background-header;

		&-wrapper {
			@extend %flex;
			justify-content: center;
			align-items: center;
			height: em(60px);
		}

	}

	&__branding {
		padding: em(70px) 0;

		&-container {
			@extend %container;
			position: relative;
		}

		&-wrapper {
			text-align: center;
		}

		.single &,
		.page &,
		.archive &,
		.search &,
		.error404 & {
			border-bottom: em(1px) solid $color__border-input;
			margin-bottom: em(80px);
		}

	}

	&__title {
		margin-bottom: 0;
		text-transform: uppercase;
		letter-spacing: em(1px);
	}

	&__tagline {
		font-size: em(20px);
		margin-bottom: 0;
	}

	&__logo-link {
		display: inline-block;
	}

}
