.header {
	background-color: $color__background-header;

	&__container {
		padding-left: em(30px);
		padding-right: em(30px);
	}

	&__wrapper {
		@extend %flex;
		align-items: center;
		height: em(100px);
	}

	&__branding {
		@include media($tablet) {
			padding-right: em(45px);
		}
		@include media($desktop__wider) {
			padding-right: em(60px);
		}
	}

	&__title {
		font-family: $font__body-alt;
		font-weight: 800;
		margin-bottom: 0;
		text-transform: uppercase;
		@include fluid-type(font-size, 480px, 1920px, 28px, 36px);
		a {
			color: $color__text-title;
			&:hover {
				color: $color__link-hover;
			}
		}
	}

	&__logo-link {
		display: inline-block;
	}

}
