// Placeholder
%row {
	@include grid-row;
}

%post__small-text {
	font-size: em(13px);
	text-transform: uppercase;
	letter-spacing: em(1.5px);
	color: $color__link-meta;

	&:hover {
		color: $color__link-hover;
	}
}

%img__link {
	display: block;
	overflow: hidden;
	border-radius: em(3px);

	&:hover img {
		opacity: .8;
		transform: scale(1.07)
	}

	img {
		display: block;
		opacity: 1;
		transition: .4s ease-in-out;
	}
}

// Main content layout
.content {

	&__container {
		@extend %container;
	}

	&__row {
		@include media($tablet__wide) {
			// Can't use @extend because inside a media query
			// @extend %row;
			@include grid-row;
		}
	}

	&__main {
		margin: auto;
		@include fluid-type(margin-top margin-bottom, 1024px, 1920px, 60px, 125px);
		@include media($tablet__wide) {
			@include grid-column(8);
		}
		&-grid {
			@extend %flex;
		}
	}

	&__archive-header {
		text-align: center;
		@include fluid-type(margin-bottom, 1024px, 1920px, 60px, 125px);

		&::after {
			content: "";
			border-bottom: em(1px) solid $color__border-input;
			width: em(100px);
			height: em(1px);
			display: block;
			margin: 0 auto;
		}
	}

	&__archive-title {
		@extend %h3;
		text-transform: uppercase;
	}

}

.post {
	@include fluid-type(margin-bottom, 1024px, 1920px, 60px, 125px);

	&__wrapper {}

	&__thumbnail-wrapper {
		margin-bottom: em(30px);
	}

	&__thumbnail {
		@extend %img__link;
	}

	&__excerpt {
		line-height: 1.65;
		@include fluid-type(font-size, 480px, 1920px, 16px, 22px);
		@include fluid-type(margin-bottom, 786px, 1920px, 30px, 50px);

		p {
			margin-bottom: 0;
		}
	}

	&__title-h2 {
		margin-top: 0;
		line-height: 1.3;
		@include fluid-type(font-size, 480px, 1920px, 26px, 45px);
		@include fluid-type(margin-bottom, 786px, 1920px, 10px, 40px);
	}

	&__meta {
		@extend %flex;

		&-info {
			font-size: em(10px);
			font-family: $font__body-alt;
			text-transform: uppercase;
			color: $color__text-meta-alt;
			line-height: .5;
		}

		a {
			font-size: em(14px);
			font-family: $font__body-alt;
			font-weight: 700;
			color: $color__text-meta;
			text-transform: capitalize;
			&:hover {
				color: $color__link-hover;
			}
			&.post__readmore-link {
				color: $color__link;
				text-transform: uppercase;
			}
		}
	}

	&__author {
		@extend %flex;
		align-items: center;
		padding-right: em(60px);

		&-avatar {
			padding-right: em(12px);
			img {
				border-radius: 50%;
			}
		}

		&-byline {
			@extend %flex;
			flex-direction: column;
		}

	}

	&__date {
		@extend %flex;
		flex-direction: column;
		padding-right: em(60px);

		.post__meta-info {
			line-height: 1.7;
		}

		&-link {
			line-height: 1;
		}
	}

	&__categories {
		@extend %flex;
		flex-direction: column;

		.post__meta-info {
			line-height: 1.7;
		}

		&-list {
			line-height: .7;
		}
	}

	&__readmore {
		margin-left: auto;
		line-height: 2;

		&-link {
			color: $color__link;
			position: relative;
			bottom: 0;
			transition: bottom 250ms ease-in-out;

			&:hover {
				color: $color__link-hover;
				bottom: em(4px);
			}
		}
	}

	&__header {
		@include fluid-type(margin-bottom, 786px, 1920px, 15px, 30px);
	}

	&__title-h1 {
		line-height: 1.3;
		@include fluid-type(margin-bottom, 786px, 1920px, 10px, 30px);
		@include fluid-type(font-size, 480px, 1920px, 26px, 45px);
	}

	&__featured-wrapper {
		margin-bottom: em(40px);
		max-width: 100vw;
		@include media($tablet) {
			margin-left: calc(25% - 25vw);
			margin-right: calc(25% - 25vw);
		}
		@include media($desktop__wider) {
			margin-left: calc(20% - 20vw);
			margin-right: calc(20% - 20vw);
		}
	}

	&__featured {
		&-img {
			border-radius: 3px;
			display: block;
		}
	}

	&__content-article {
		margin-bottom: em(40px);
		@include fluid-type(font-size, 480px, 1920px, 16px, 22px);

		h2,
		h3 {
			line-height: normal;
		}
	}

	&__footer {
		@extend %flex;
		border-bottom: em(1px) solid $color__border-input;
		padding-bottom: em(20px);
		margin-bottom: em(40px);
	}

}

/**
 * 404
 */
.content__not-found {
	width: 100%;
	text-align: center;
	margin-bottom: em(90px);
}

.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

// .page__content,
// .post__content,
// .post__summary {
// 	margin: 1.5em 0 0;
// }

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
